
.homepage-post-title{
    color: rgb(2, 186, 192);
    font-weight: 500;
    margin-bottom: 0px!important;
    margin-top: 4px!important;
}

.homepage-post-title:hover{
    opacity: 0.65;
}

.homepage-post-subtitle{
    color: rgb(2, 186, 192);
    margin-top: 4px 0px 6px 0px!important;
}

.homepage-post-subtitle:hover{
    opacity: 0.65;
}

.homepage-post-meta {
    font-size: 14px!important;
    margin-top: 0px!important;
}

.article-title-size {
    font-size: 35px;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.article-head-sub-title-size {
    font-size: 20px;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.article-h1-color{
    color: rgb(2, 186, 192);
    font-weight: 400;
}


/* 首圖照片 */
.intro-header{
    background-image:url("https://frontenter.files.wordpress.com/2020/02/no-text-main-pic.jpg");
}

@media screen and (max-width:500px){
    .intro-header{
        background-position-x: right;
        background-image:url("https://frontenter.files.wordpress.com/2020/02/no-text-main-pic.jpg");
    }
    intro-header .post-heading h1 {
        font-size: 26px;
    }
}

@media screen and (min-width:768px){

    .navbar-custom .nav li a {
        color: #949898;
        font-weight: 400;
    }

    .navbar-custom .nav li a:hover {
        color: #949898;
        opacity: 0.8;
    }

    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand:hover {
        opacity: 0.8;
    }

    .intro-header {
        height: 515px;
    }

}

@media screen and (max-width:767px){

    .navbar-default .navbar-nav>li>a {
        color: #777;
        font-weight: 400;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #949898;
    }

}



