
.homepage-post-title{
    color: rgb(2, 186, 192);
    font-weight: 500;
    margin-bottom: 0px!important;
    margin-top: 4px!important;
}

.homepage-post-title:hover{
    opacity: 0.65;
}

.homepage-post-subtitle{
    color: rgb(2, 186, 192);
    margin-top: 4px 0px 6px 0px!important;
}

.homepage-post-subtitle:hover{
    opacity: 0.65;
}

.homepage-post-meta {
    font-size: 14px!important;
    margin-top: 0px!important;
}

.article-h1-color{
    color: rgb(2, 186, 192);
    font-weight: 500;
}


/* 首圖照片 */
.intro-header{
    background-image:url("https://firebasestorage.googleapis.com/v0/b/siddharam-6bb77.appspot.com/o/indonesia-elephant-with-two-person.jpg?alt=media&token=594f8513-5a47-405d-bfeb-e9be6ad17a33");
}

@media screen and (max-width:500px){
    .intro-header{
        background-image:url("https://firebasestorage.googleapis.com/v0/b/siddharam-6bb77.appspot.com/o/indonesia-elephant-with-two-person-rwd.jpg?alt=media&token=ce82d655-ad9b-438f-b344-7088cc9ff527");
    }

}

