
.homepage-post-title{
    color: rgb(2, 186, 192);
    font-weight: 500;
    margin-bottom: 0px!important;
    margin-top: 4px!important;
}

.homepage-post-title:hover{
    opacity: 0.65;
}

.homepage-post-subtitle{
    color: rgb(2, 186, 192);
    margin-top: 4px 0px 6px 0px!important;
}

.homepage-post-subtitle:hover{
    opacity: 0.65;
}

.homepage-post-meta {
    font-size: 14px!important;
    margin-top: 0px!important;
}

.article-title-size {
    font-size: 35px;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.article-head-sub-title-size {
    font-size: 20px;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
}

.article-h1-color{
    color: rgb(2, 186, 192);
    font-weight: 500;
}


/* 首圖照片 */
.intro-header{
    background-image:url("https://frontenter.files.wordpress.com/2019/01/index-head-photo.jpg");
}

@media screen and (max-width:500px){
    .intro-header{
        background-image:url("https://frontenter.files.wordpress.com/2019/01/index-head-photo.jpg");
    }
    intro-header .post-heading h1 {
        font-size: 26px;
    }
}

